<header class="navbar">
  <div class="logo">
    ASSALA <span>CUIR</span>
  </div>

  <nav>
    <a href="#hero">Accueil</a>
    <a href="#products">Collection</a>
    <a href="#contact">Contact</a>
  </nav>

  <button class="cart-btn" (click)="toggleCart()">
    Panier ({{ cart.length }})
  </button>
</header>

<section class="hero" id="hero">
  <h1>Welcome to Assala Cuir</h1>
  <p class="hero-slogan">We dress original, with handmade elegance.</p>
</section>

<main class="shop">
  <aside class="sidebar">
    <h3>Catégories</h3>

    <p (click)="filterCategory('Tous')" [class.active-category]="selectedCategory === 'Tous'">
      Tous les produits
    </p>

    <p (click)="filterCategory('Sacs')" [class.active-category]="selectedCategory === 'Sacs'">
      Sacs
    </p>

    <p (click)="filterCategory('Ceintures')" [class.active-category]="selectedCategory === 'Ceintures'">
      Ceintures
    </p>
  </aside>

  <section class="products" id="products">
    <p class="count">Notre Collection ({{ filteredProducts.length }})</p>

    <div class="grid">
      <div class="card" *ngFor="let product of filteredProducts">
        <div class="image-box">
          <img [src]="'images/' + product.image" [alt]="product.name">
        </div>

        <h2>{{ product.name }}</h2>
        <p class="desc">{{ product.description }}</p>
        <p class="price">{{ product.price }} DH</p>

        <button (click)="addToCart(product)">
          Ajouter au panier
        </button>
      </div>
    </div>
  </section>
</main>

<section class="cart-panel" *ngIf="showCart" id="cart">
  <h2>Mon panier</h2>

  <p *ngIf="cart.length === 0">Votre panier est vide.</p>

  <div class="cart-item" *ngFor="let item of cart">
    <span>{{ item.name }}</span>
    <strong>{{ item.price }} DH</strong>
  </div>

  <button class="order-btn" *ngIf="cart.length > 0" (click)="order()">
    Passer commande
  </button>
</section>

<section class="contact-box" id="contact">
  <h2>Contact the Manager</h2>
  <p>Pour toute question ou commande spéciale, contactez-nous :</p>
  <strong>assalacuir.help@gmail.com</strong>
</section>

<footer>
  <div>Produits artisanaux</div>
  <div>Cuir véritable</div>
  <div>Livraison au Maroc</div>
</footer>
